@import '../../../styles/common';

nav {
  box-shadow: 0px 2px 2px $gray-900;
  background-color: rgba(0,0,0,0.75);
}
.nav-item {
  padding: 0 1rem;
  margin: auto;
  opacity: 0.8;
}
.nav-link {
  padding: 0;
  font-family: $amatic;
  font-size: $navbar-font;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: .5px .5px 1px $gray-600;
  letter-spacing: 1px;
  &:after {
    height: 0;
    content: '';
    display: block;
    position: relative;
    background: $navbar-dark-active-color;
    top: -(.75 * $navbar-font);
    transition: 0.5s ease;
  }
  &.active:after{
    height: 1px;
  }
  &:not(.active) {
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      top: 0;
      background: transparent;
      transition: width .25s ease, background-color .5s ease;
    }
    &:hover:after {
      width: 100%;
      background: $navbar-dark-hover-color;
    }
  }
}
.home-button {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid $gray-900;
  border-radius: 0.3rem;
  transition: 0.25s ease;
  &:hover {
    cursor: pointer;
    border-color: $navbar-dark-hover-color;
    .nav-link {
      color: $navbar-dark-hover-color;
    }
  }
  .nav-link {
    text-shadow: 1px 1px 1px white;
    color: $gray-800;
    font-weight: 400;
    &:after {
      height: 0;
      width: 0;
    }
  }
}
@include media-breakpoint-down(md) {
  .navbar-nav {
    max-height: 90vh;
    max-height: -webkit-fill-available;
    flex-wrap: wrap;
  }
  .home-button {
    left: auto;
    right: 0;
  }
  .nav-item {
    padding: 0.5rem 0;
  }
  .nav-link {
    font-size: $navbar-font-small;
    &.active:after {
      top: -(.75 * $navbar-font-small);
    }
  }
}
