@import '../../../../styles/common';
:host {
  padding: 1rem;
}
.post {
  padding: 1rem 2rem;
}
.text, .updated-at, .back {
  font-size: .9rem;
}
.text {
  overflow: hidden;
}
.created-at {
  text-align: center;
  color: $gray-600;
}
.updated-at {
  text-align: center;
  color: $gray-700;
  line-height: 1.5rem;
}
.back {
  margin: 1rem 0;
  text-decoration: underline;
}
.recent-header {
  color: rgba($white, 0.6);
  background: rgba($black, 0.3);
  text-transform: uppercase;
  font-weight: bold;
}
.recent-post {
  color: rgba($white, 0.8) !important;
}
.recent-post:hover {
  color: rgba($white, 1) !important;
  text-decoration: none;
}
.recent-date {
  color: $gray-600;
}
.recent-date, .recent-text {
  font-size: .9rem;
}
.recent-text {
  max-height: 100px;
}
.recent-title {
  font-weight: 600;
}

@include media-breakpoint-up(md){
  .post {
    padding: 1rem 3rem;
    line-height: 2.5rem;
  }
  .text {
    font-size: 1.25rem;
  }
  .title {
    font-size: 3rem;
  }
  .created-at {
    font-size: 1.1rem;
  }
  .updated-at, .back {
    font-size: 1rem;
  }
}
