<app-spinner-screen *ngIf="processing"></app-spinner-screen>

<a class="link form-link"
   *ngIf="!submitted && !error"
   [innerHTML]="(formVisible)? '[ hide ]' : '[ contact me ]'"
   (click)="toggleForm()">
</a>

<p *ngIf="submitted">Your message has been sent.</p>
<p *ngIf="error">Oh no! Something went wrong. Please try again later.</p>

<div class="container mt-3 p-0"
     *ngIf="!submitted && !error"
     [hidden]="!formVisible">

  <form #contactForm="ngForm"
        (ngSubmit)="sendEmail()"
        class="p-1">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             [(ngModel)]="model.name"
             name="name"
             required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             [(ngModel)]="model.email"
             name="email"
             required email>
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text"
             class="form-control"
             id="subject"
             [(ngModel)]="model.subject"
             name="subject"
             required>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control"
                id="message"
                [(ngModel)]="model.message"
                name="message"
                required>
      </textarea>
    </div>

    <div class="recaptcha d-flex justify-content-center">
      <re-captcha [(ngModel)]="captcha"
                  name="captcha"
                  required ngDefaultControl>
      </re-captcha>
    </div>

    <div class="button-wrapper">

      <button type="submit"
              class="btn btn-outline-secondary submit-button"
              [disabled]="!contactForm.form.valid"
      >Send</button>

      <div *ngIf="!contactForm.form.valid"
           class="popover-wrapper"
           popover="All fields are required."
           triggers="mouseenter:mouseleave"
           placement="top">
      </div>

    </div>
  </form>
</div>
