<div class="row pt-5">
  <div class="photo">
    <img src="../../assets/about.jpg"/>
  </div>
  <div class="desc">
    <p>I am interior crocodile alligator</p>
    <div class="desc-links">
      <a class="desc-link" href="https://www.facebook.com/BoguOs-Gnomon-689909394425813/" target="_blank">facebook</a> /
      <a class="desc-link" href="https://www.flickr.com/photos/99486946@N05/" target="_blank">flickr</a><br>
      <a class="desc-link contact-link">contact me</a>
    </div>
  </div>
</div>
