@import '../../styles/common';

$bg: rgba($black, 0.5);

:host {
  width: 100%;
  background: $bg;
  box-shadow: 0 0 3rem 3rem $bg;
}
.row {
  width: 100%;
  background: $bg;
  box-shadow: 0 0 2rem 2rem $bg;
  min-height: 700px;
  margin: auto;
  justify-content: space-evenly;
}
.photo {
  width: 100%;
  height: fit-content;
  box-shadow: inset 0 0 15px $white;
  img {
    width: 100%;
    opacity: 0.6;
  }
}
.desc {
  text-align: center;
  color: $gray-500;
  letter-spacing: 3px;
  font-weight: 300;
}
.desc-link {
  color: $white !important;
  cursor: pointer;
  line-height: 2rem;
  &:hover {
    text-shadow: 1px 1px 1px;
    text-decoration: none;
  }
}
@include media-breakpoint-up(lg){
  .row {
    margin-top: 5rem;
  }
  .photo {
    width: 25%;
  }
}
