@import '../../../styles/common.scss';

$album-width-lg: 640px;
$album-height-lg: 480px;
$album-width-md: .75 * $album-width-lg;
$album-height-md: .75 * $album-height-lg;
$album-width-sm: .5 * $album-width-lg;
$album-height-sm: .5 * $album-height-lg;

.album-thumb-container {
  background-size: cover;
  width: 100%;
  max-width: $album-width-lg;
  height: $album-height-lg;
  font-size: .1 * $album-width-lg;
  letter-spacing: 5px;
  @include media-breakpoint-down(md){
    max-width: $album-width-md;
    height: $album-height-md;
    font-size: .1 * $album-width-md;

  }
  @include media-breakpoint-only(xs){
    max-width: $album-width-sm;
    height: $album-height-sm;
    font-size: .1 * $album-width-sm;
  }
}
.album-thumb {
  background: radial-gradient($white, $gray-400, $gray-800);
  box-shadow: $burnt-edges;
  transition: .5s ease;
  border: 1.5px solid black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    background: transparent;
    opacity: .9;
    text-shadow:
      -1px -1px 10px antiquewhite,
      1px -1px 10px antiquewhite,
      -1px 1px 10px antiquewhite,
      1px 1px 10px antiquewhite;
  }
}

