@import '../../../styles/common.scss';

.album-thumb-container {
  width: 640px;
  height: 480px;
  background-size: cover;

}
.album-thumb {
  background: radial-gradient($white, $gray-400, $gray-800) rgba($white, 0.6);
  transition: .5s ease;
  border: 1.5px solid black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 4rem;
  color: inherit;

  &:hover {
    cursor: pointer;
    background: transparent;
    opacity: .9;
    text-shadow:
      -1px -1px 10px antiquewhite,
      1px -1px 10px antiquewhite,
      -1px 1px 10px antiquewhite,
      1px 1px 10px antiquewhite;
  }
}

