<nav class="navbar navbar-expand-sm navbar-dark fixed-top py-3">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks"
          aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [collapse]="!isCollapsed" id="navLinks">
    <ul class="navbar-nav m-auto">

      <li *ngFor="let item of menu" class="nav-item px-1 px-lg-2" [class.active]="item.active">
        <a class="nav-link" href={{item.route}}>{{item.name}}
          <span *ngIf="item.active" class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
