<nav class="navbar navbar-expand-md navbar-dark fixed-top py-3">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks"
          aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="home" routerLink="/"><img src="../../assets/home.svg" alt="Home"></a>

  <div class="navbar-collapse" [collapse]="!isCollapsed" id="navLinks">
    <ul class="navbar-nav m-auto">

      <li class="nav-item px-1 px-lg-2">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active"> blog </a>
      </li>
      <li class="nav-item px-1 px-lg-2">
        <a class="nav-link" routerLink="/drawings" routerLinkActive="active"> drawings </a>
      </li>
      <li class="nav-item px-1 px-lg-2">
        <a class="nav-link" routerLink="/sketches" routerLinkActive="active"> sketches </a>
      </li>
      <li class="nav-item px-1 px-lg-2">
        <a class="nav-link" routerLink="/photos" routerLinkActive="active"> photographs </a>
      </li>
      <li class="nav-item px-1 px-lg-2">
        <a class="nav-link" routerLink="about" routerLinkActive="active"> about </a>
      </li>
    </ul>
  </div>
</nav>
