@import './common';

$number-width: 2.5rem;
$number-margin-left: 0.5rem;
$text-padding: 0.25rem;

.g-container {
  @media (max-height: 767px) and (orientation: landscape) {
    padding-top: 1.5rem;
  }
}
.g-modal {
  z-index: 1040 !important;
}
.g-thumb-container {
  @media (max-width: 480px),
         (max-height: 767px) and (orientation: landscape) {
    display: none !important;
  }
}
.g-image {
  margin: 0 1rem;
}
.g-number {
  width: $number-width;
  margin-left: $number-margin-left;
  padding: $text-padding;
  align-self: center;
}
.g-text {
  margin-left: $number-width + $number-margin-left;
  padding: $text-padding;
  border-radius: $border-radius;
  background-color: rgba(60, 60, 60, 0.3);
}
.g-btn-close {
  opacity: 0.8;
  height: 40px !important;
  width: 40px !important;
  @media (max-width: 480px) {
    margin: 1rem !important;
    position: absolute !important;
  }
}
