@import '../../node_modules/bootstrap/scss/variables';


$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white,.75);
$navbar-dark-active-color:          rgba($white, .85);
$navbar-font-small:                 24px;
$navbar-font:                       32px;

$burnt-edges:                       inset 0 0 10px 2px $black;
$system-font:                      -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$amatic:                            Amatic SC, $system-font;
