@import '../../node_modules/bootstrap/scss/variables';


$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white,.75);
$navbar-dark-active-color:          rgba($white, .85);
$navbar-font-md:                    16px;
$navbar-font:                       20px;

$burnt-edges:                       inset 0 0 10px 2px $black
