@import 'gallery';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'variables';

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.background-wrapper {
  background: url("../assets/gnomon.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}
.gallery-wrapper {
  margin: auto;
  max-width: 1500px;
}
