@import 'gallery';
@import 'pagination';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  font-family: "Ubuntu Condensed", $system-font;
}
.gallery-wrapper {
  margin: auto;
  max-width: 1500px;
}
.dark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: rgba($black, 0.6);
  color: rgba($white, 0.9);
  border: 1px solid $gray-900;
  letter-spacing: 2px;
  line-height: 2rem;
  .title {
    text-align: center;
  }
}
.link {
  color: $white !important;
  cursor: pointer;
  &.active {
    font-weight: 600;
  }
  &:hover {
    text-shadow: 1px 1px 1px;
  }
}
.small-link {
  @extend .link;
  font-size: .8rem;
  color: $gray-500 !important;
  &.active {
    color: $gray-200 !important;
  }
}
.ngx-ellipsis-more {
  @extend .link;
  text-decoration: underline;
}
typeahead-container.dropdown.open.dropdown-menu {
  padding: 0;
  background: $white;
  .dropdown-item {
    cursor: pointer;
    &.active {
      background-color: $gray-900;
    }
  }
}
