@import '../../styles/common';

.message {
  opacity: .75;
  letter-spacing: 2px;
}
.image-frame {
  opacity: 0.85;
  width: 100%;
  max-width: 320px;
  height: 220px;
  background: #fff center no-repeat;
  background-size: cover;
  border-radius: 1px;
  box-shadow: 4px 3px 4px 1.5px $gray-800;
  &:hover {
    cursor: pointer;
    opacity: .99;
  }
}


