@import '../../styles/common';

.row {
  max-width: 1500px;
  z-index: 0;
  opacity: 0.85;
}
.image-holder {
  width: 320px;
  height: 220px;
  background: #fff center no-repeat;
  background-size: cover;
  border-radius: 1px;
  box-shadow: 4px 3px 4px 1.5px $gray-800;
}
