<div class="gallery-wrapper my-4 my-md-5 pt-4">

  <p *ngIf="!galleryLoaded" class="loading text-white text-center">{{message}}</p>

  <div *ngIf="galleryLoaded" class="row justify-content-center">

    <div *ngFor="let image of images; let i = index"
         class="image-frame m-2"
         (click)="gallery.set(i)"
         [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}">
    </div>
  </div>

</div>

<app-pagination *ngIf="galleryLoaded" [pages]="pages"></app-pagination>

<gallery-modal></gallery-modal>
