<div class="row m-5 p-4 justify-content-center">
  <div *ngFor="let image of images; let i = index"
       (click)="gallery.set(i)"
       class="image-holder m-2"
       [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}">

  </div>
</div>
<nav aria-label="Album pages">
  <ul class="pagination justify-content-center">
    <li [class.disabled]="currentPage - 1 < 1" class="page-item"><a class="page-link" href="drawings/{{currentPage - 1}}">Previous</a></li>
    <li *ngIf="currentPage - 2 > 0" class="page-item"><a class="page-link" href="drawings/{{currentPage - 2}}">{{currentPage - 2}}</a></li>
    <li *ngIf="currentPage - 1 > 0" class="page-item"><a class="page-link" href="drawings/{{currentPage - 1}}">{{currentPage - 1}}</a></li>
    <li class="page-item text-muted"><a class="page-link active" href="drawings/{{currentPage}}">{{currentPage}}</a></li>
    <li *ngIf="currentPage + 1 <= pages" class="page-item"><a class="page-link" href="drawings/{{currentPage + 1}}">{{currentPage + 1}}</a></li>
    <li *ngIf="currentPage + 2 <= pages" class="page-item"><a class="page-link" href="drawings/{{currentPage + 2}}">{{currentPage + 2}}</a></li>
    <li [class.disabled]="currentPage + 1 > pages" class="page-item"><a class="page-link" href="drawings/{{currentPage + 1}}">Next</a></li>
  </ul>
</nav>

<gallery-modal></gallery-modal>
