<div class="gallery-wrapper my-4 my-md-5">

  <p *ngIf="!galleryLoaded" class="message text-white text-center p-4 p-md-2">{{message}}</p>

  <ng-container *ngIf="galleryLoaded">

    <app-pagination [pages]="pages"></app-pagination>

    <div class="row justify-content-center">

      <div *ngFor="let image of images; let i = index"
           class="image-frame m-2"
           (click)="gallery.set(i)"
           [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}">
      </div>
    </div>

    <a class="scroll-top mt-4" (click)="scrollToTop()">Scroll to top</a>

  </ng-container>

</div>

<gallery-modal></gallery-modal>
