@import '../../../styles/common';

:host {
  width: 100%;
  background: radial-gradient($black, rgba($black, 0.8), rgba($black, 0.6));
}
.spinner {
  display: flex;
  justify-content: center;
}
app-spinner {
  position: absolute;
}
.row {
  margin: auto;
  justify-content: space-evenly;
}
.photo {
  border: 2px solid $gray-800;
  width: 100%;
  height: fit-content;
  box-shadow: $burnt-edges;
  opacity: 0.5;
  img {
    width: 100%;
    opacity: 0.8;
  }
}
.desc {
  text-align: center;
  color: $gray-500;
  letter-spacing: 3px;
  font-weight: 300;
}
.desc-link {
  color: $white !important;
  cursor: pointer;
  line-height: 2rem;
  &:hover {
    text-shadow: 1px 1px 1px;
    text-decoration: none;
  }
}
@include media-breakpoint-up(lg){
  .row {
    margin-top: 6rem;
    min-height: 700px;
  }
  .photo {
    width: 30vw;
    height: 30vw;
  }
}
