<div class="row pt-5 mt-lg-5 px-1">

  <div #photoDiv
       class="photo mx-2">

    <span #spinner class="spinner">
      <app-spinner></app-spinner>
    </span>

    <img src="../../../assets/about.jpg"
         (load)="photoDiv.style.backgroundColor = 'saddlebrown'; spinner.style.display = 'none'"/>
  </div>

  <div class="desc pt-3 mb-4">
    <p class="mx-2 mb-2">I am interior crocodile alligator</p>

    <div class="desc-links mb-2">
      <a class="link desc-link" href="https://www.facebook.com/BoguOs-Gnomon-689909394425813/" target="_blank">facebook</a> /
      <a class="link desc-link" href="https://www.flickr.com/photos/99486946@N05/" target="_blank">flickr</a>
    </div>

    <app-contact-form></app-contact-form>

  </div>
</div>
