.background-wrapper {
  background-color: rgba(black, 0.95);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}
