@import '../../styles/common';

:host {
  position: absolute;
  width: 100%;
  padding: 0 3rem;
}
input {
  background: $black;
  color: $gray-300;
  margin-top: 1rem;
}
.tag {
  background: $gray-900;
  border: 1px solid $gray-300;
  padding: 0.5rem .5rem 0.5rem 1rem;
  width: fit-content;
  &:hover {
    background: $gray-100;
    color: black !important;
    cursor: pointer;
    .close {
      color: $black;
    }
  }
}
.close {
  color: $white;
  font-size: 1.5rem;
  padding: 0 .5rem;
}
.tag-search {
  width: 150px;
}
.btn {
  cursor: pointer;
}
