<div class="buttons d-flex">
  <a class="button-link" routerLink="../">Back</a>
  <a class="button-link" (click)="save()">Save</a>
</div>

<div *ngIf="post">

  <div class="tags-container d-flex">
    <span class="tag d-flex align-items-center rounded mr-2"
          *ngFor="let tag of postTags">{{tag}}
    <span class="close" (click)="deleteTag(tag)">&times;</span>
  </span>
  </div>

  <div class="tag-search d-flex align-items-baseline">
    <input #search
           placeholder="enter tag..."
           [(ngModel)]="searchedTag"
           [typeahead]="allTags"
           typeaheadOptionField="name"
           typeaheadScrollable = true
           (typeaheadOnSelect)="addTag(search)"
           class="form-control tag-search">
    <button class="btn btn-dark ml-2" (click)="addTag(search)">Add</button>
  </div>

  <div class="form-group">
    <input type="text" class="form-control rounded-0" id="title" title="title" [(ngModel)]="post.title" name="title" required>
  </div>
  <quill-editor [(ngModel)]="post.body" [style]="{height: '500px'}"></quill-editor>
</div>

