@import '../../styles/common';
.pagination {
  flex-wrap: wrap;
}
.page-item {
  &.disabled .page-link {
    color: $gray-700;
  }
  .page-link {
    color: $gray-500;
    background: rgba($black, 0.5);
    border: 2px solid $gray-900;
    letter-spacing: 2px;
    margin: 1px;
    &:hover {
      color: $white;
    }
    &.active {
      color: $gray-300;
      font-weight: bold;
    }
  }
}
