<div class="dark-container post m-md-2 m-lg-3">

  <a class="back link" routerLink="/blog">&larr; back</a>

  <h4 class="title text-light">{{post?.title}}</h4>

  <span class="created-at">{{post?.createdAt | date:'longDate' }}</span>
  <span class="updated-at mb-2" *ngIf="post?.createdAt !== post?.updatedAt">Last updated on {{post?.updatedAt | date:'longDate'}}</span>

  <app-tags [tags]="post?.tags" (tagSelected)="searchTag($event)"></app-tags>

  <p class="text mt-3">{{post?.body}}</p>
  <a class="back link" routerLink="/blog">&larr; back</a>
</div>
<disqus [identifier]="'/blog/' + post?.id"></disqus>
