@import '../../../styles/common';

:host {
  width: 100%;
  background: rgba($black, 0.3);
}
.post {
  position: relative;
  padding: 2rem 2rem 1rem 2rem;
}
.text {
  font-size: 14px;
  max-height: 250px;
}
.title {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: under;
  &:hover {
    letter-spacing: 2.5px;
  }
  &:not(:hover) {
    font-weight: 500;
  }
}
.created-at {
  text-align: center;
  color: $gray-600;
}
.shadow-wrapper {
  position: absolute;
  width: 90%;
  height: 1px;
  left: 5%;
  bottom: 5px;
  box-shadow: 0px -20px 10px 20px rgba(0, 0, 0, 0.5);
}
.tags {
  text-align: center;
}
.tags-opts {
  font-size: 14px;
}

.small-link {
  width: max-content;
  margin: auto;
}
.tag-search {
  width: 200px;
  background: rgba($white, 0.9);
  padding: 0.25rem;
  margin: .5rem auto;
}

@include media-breakpoint-up(md){
  .text {
    font-size: 16px;
  }
}
