<div class="container px-md-5">

  <app-pagination *ngIf="filteredPosts" [items]="filteredPosts.getValue().length" [perPage]="perPage" [perPageOpts]="perPageOpts" (selected)="perPageChange($event)"></app-pagination>

  <div class="tags dark-container p-3 mb-2">

    <ng-container *ngIf="activeTags.length > 0">

      <a class="small-link reset" (click)="deleteAllTags()">[ reset ]</a>

      <span class="stack-tags">

        <label class="custom-control custom-checkbox small-link">
          <input type="checkbox" class="custom-control-input" [ngModel]="stackTags" (ngModelChange)="toggleStacking($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Stack tags?</span>
        </label>

        <span class="tags-opts" *ngIf="stackTags">
          <a class="small-link"
             [class.active]="!tagsAllMode"
             (click)="toggleTagMode()">any
          </a> |
          <a class="small-link"
             [class.active]="tagsAllMode"
             (click)="toggleTagMode()">all
          </a>
        </span>

      </span>

    </ng-container>

    <app-tags [tags]="activeTags"
              [count]="true"
              [selected]="true"
              (tagSelected)="deleteTag($event)">

    </app-tags>
    <app-tags [tags]="inactiveTags"
              [count]="true"
              [abbr]="!tagsExpanded"
              (tagSelected)="addTag($event)"
              (tagsExpanded)="tagsExpanded = true">
    </app-tags>
    <a class="small-link more" *ngIf="!tagsExpanded" (click)="tagsExpanded = true">more...</a>

    <ng-container *ngIf="tagsExpanded">

      <input #search
             [(ngModel)]="searchedTag"
             [typeahead]="inactiveTags"
             typeaheadOptionField="name"
             typeaheadScrollable = true
             (typeaheadOnSelect)="addSearchedTag($event)"
             class="form-control tag-search">

      <a class="small-link hide"
         (click)="tagsExpanded = false">[ hide ]
      </a>

    </ng-container>

  </div>

  <ng-container *ngFor="let post of filteredPosts | async; let i = index">

    <div class="dark-container post mb-4" *ngIf="perPage == -1 || currentPage * perPage - perPage <= i && i < currentPage * perPage">
      <a class="link title mb-2" [routerLink]="post.id">{{ post.title }}</a>

      <span class="created-at">{{post.createdAt | date }}</span>

      <app-tags [tags]="post.tags"
                (tagSelected)="addTag($event)">
      </app-tags>

      <p class="text pl-md-3 mt-2"
         ellipsis="(...)"
         [ellipsis-word-boundaries]="' \n'"
         (ellipsis-click-more)="goToPost(post.id)">{{post.body}}
      </p>

      <div class="shadow-wrapper"></div>
    </div>

  </ng-container>
</div>
<app-scroll></app-scroll>
