@import '../../../styles/common';

.post {
  position: relative;
  padding: 2rem 2rem .5rem 2rem;
  background: rgba($black, 0.6);
  color: rgba($white, 0.9);
  border: 1px solid $gray-900;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
.post-text {
  font-size: 14px;
}
.shadow-wrapper {
  position: absolute;
  width: 90%;
  height: 1px;
  left: 5%;
  bottom: 5px;
  box-shadow: 0px -30px 10px 25px rgba(0, 0, 0, .5);
}
.link {
  text-decoration: underline !important;
}

@include media-breakpoint-up(md){
  .post-text {
    font-size: 16px;
  }
}
