@import '../../../styles/common';

$album-width-lg: 640px;
$album-height-lg: 480px;
$album-width-md: .75 * $album-width-lg;
$album-height-md: .75 * $album-height-lg;
$album-width-sm: .5 * $album-width-lg;
$album-height-sm: .5 * $album-height-lg;

:host {
  width: 100%;
  max-width: $album-width-lg;
  margin: 0.75rem;
}
.album-thumb-container {
  background-size: cover;
  height: $album-height-lg;
  font-size: .15 * $album-height-lg;
  font-family: $amatic;
  letter-spacing: 0.075em;
}
.album-thumb {
  background: rgba($gray-900, 0.5);
  color: rgba(antiquewhite, 0.8);
  border: 1.5px solid rgba(255,255,255,0.1);
  box-shadow: $burnt-edges;
  transition: background .5s ease;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  font-weight: 300;

  &:hover {
    background: transparent;
    color: $white;
  }
}
@include media-breakpoint-down(md){
  :host {
    max-width: $album-width-md;
  }
  .album-thumb-container {
    height: $album-height-md;
    font-size: .15 * $album-height-md;
  }
}
@include media-breakpoint-only(xs){
  :host {
    max-width: $album-width-sm;
  }
  .album-thumb-container {
    height: $album-height-sm;
    font-size: .1 * $album-width-sm;
  }
}

