@import '../../../styles/common';

.badge.selectable {
  &.selected {
  background: $gray-600;
    &:hover {
      color: $gray-600 !important;
    }
  }
  &:hover {
  cursor: pointer;
  background: $gray-100;
  color: $gray-900 !important;
  }
  &.to-delete:hover {
    text-decoration: line-through;
  }
}
