@import '../../../styles/common';
:host {
  max-width: 450px;
  margin: auto;
}
.badge {
  &.selected {
  background: $gray-600;
    &:hover {
      color: $gray-600 !important;
      text-decoration: line-through;
    }
  }
  &:hover {
  cursor: pointer;
  background: $gray-100;
  color: $gray-900 !important;
  }
}
