<div class="row justify-content-center">
  <span class="page-opts align-self-center">
    <span class="item-count">{{items}}</span> items</span>
  <span class="page-opts">
    <select class="per-page-select custom-select" (change)="select($event.target.value)">
      <option *ngFor="let opt of perPageOpts" [value]="opt" [selected]="opt == perPage">{{opt}}</option>
      <option [value]="-1" [selected]="perPage == -1">all</option>
    </select>per page
  </span>
  <div class="col-12 px-0 pt-md-0" aria-label="album pages">
    <pagination [totalItems]="items" [(ngModel)]="page" [maxSize]="maxSize"
                [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
</div>

